In [4]:
import websocket
import pandas as pd
import requests
from pandas.io.json import json_normalize
import json
from code_ref import get_keys
from code_ref import findata
from code_ref import FinnhubRequestException
from code_ref import FinnhubAPIException
import time
import threading
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [5]:
keys = get_keys("/Users/augustingoudet/.secret/code_file") #Finnhub Key
api_key1 = keys ['finnhub'] #api_key
company = "SBUX" #Company Ticker

query = findata(api_key = api_key1)

In [10]:
url = "https://finnhub.io/api/v1/"

ext1 = "?symbol={}&token={}"
ext2 = "?symbol={}&metric=management&token={}"
ext3 = "?symbol={}&metric=margin&token={}"
ext4 = "?symbol={}&metric=growth&token={}"
ext5 = "?symbol={}&metric=price&token={}"

profile ="stock/profile"
ceo_comp = "stock/ceo-compensation"
board = "stock/executive"
reco = "stock/recommendation"
price_target = "stock/price-target"
up_down = "stock/upgrade-downgrade"
peers = "stock/peers"
rev_est = "stock/revenue-estimate"
eps_est = "stock/eps-estimate"
ownership = "stock/investor-ownership"
metric= "stock/metric"
quote = "quote"
news = "news"
covid = "covid19"
transcript = "stock/transcripts"
divs = "stock/dividend?symbol={}&from=2019-02-01&to=2020-02-01"
split = "stock/split?symbol=AAPL&from=2010-02-01&to=2020-02-01"
inc = "stock/financials?symbol={}&statement=is&freq=annual"
bs = "stock/financials?symbol={}&statement=bs&freq=annual"
cfs = "stock/financials?symbol={}&statement=cf&freq=annual"

In [7]:
tickers = pd.read_csv('Ticker_list_1.csv')

In [121]:
tick = list(tickers.Ticker)
tick1 = tick[10:20]
tick1

['DD', 'BABA', 'ABT', 'UA', 'AMAT', 'AMGN', 'AAL', 'AIG', 'ALL', 'ADBE']

## Profiling Data

In [122]:
results = []

for items in tick1: 
    data = query.ceo_compensation(symbol = items)
    results.append(data)
    df = pd.DataFrame(results)
    df.dropna(inplace = True)


%time

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs

In [123]:
df

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
0,0.0,DuPont de Nemours Inc.,"Wilimington, DE",Edward Breen,3300510.0,12700004.0,743988.0,0.0,1930800.0,0.0,DD,18675302.0,2018
2,0.0,Abbott Laboratories,"Abbott Park, IL",Miles White,4779688.0,7499996.0,1193342.0,1381845.0,1900000.0,7499367.0,ABT,24254238.0,2018
4,0.0,Applied Materials Inc.,"Santa Clara, CA",Gary Dickerson,1430000.0,0.0,373229.0,0.0,1000000.0,11261311.0,AMAT,14064540.0,2018
5,0.0,Amgen Inc.,"Thousand Oaks, CA",Robert Bradway,3898000.0,3749994.0,591454.0,0.0,1566000.0,8749818.0,AMGN,18555266.0,2018
6,0.0,American Airlines Group Inc.,"Fort Worth, TX",W. Parker,0.0,0.0,60517.0,0.0,0.0,11939000.0,AAL,11999517.0,2018
7,0.0,American International Group Inc.,"New York, NY",Brian Duperreault,3040000.0,4199993.0,257487.0,0.0,1600000.0,11757189.0,AIG,20854669.0,2018
8,0.0,Allstate Corporation,"Northbrook, IL",Thomas Wilson,6719194.0,3874998.0,116971.0,873170.0,1290385.0,5812528.0,ALL,18687246.0,2018
9,0.0,Adobe Inc.,"San Jose, CA",Shantanu Narayen,1824313.0,0.0,33451.0,0.0,1000000.0,25539764.0,ADBE,28397528.0,2018

## board members / executive

In [124]:
results = []

for items in tick1: 
    data = url + ceo_comp + ext1.format(items, api_key1)
    req = requests.get(data)
    content = req.json()
    results.append(content)
    df1 = pd.DataFrame(results)
    df1.dropna(inplace = True)

In [125]:
df1

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
0,0.0,DuPont de Nemours Inc.,"Wilimington, DE",Edward Breen,3300510.0,12700004.0,743988.0,0.0,1930800.0,0.0,DD,18675302.0,2018
2,0.0,Abbott Laboratories,"Abbott Park, IL",Miles White,4779688.0,7499996.0,1193342.0,1381845.0,1900000.0,7499367.0,ABT,24254238.0,2018
4,0.0,Applied Materials Inc.,"Santa Clara, CA",Gary Dickerson,1430000.0,0.0,373229.0,0.0,1000000.0,11261311.0,AMAT,14064540.0,2018
5,0.0,Amgen Inc.,"Thousand Oaks, CA",Robert Bradway,3898000.0,3749994.0,591454.0,0.0,1566000.0,8749818.0,AMGN,18555266.0,2018
6,0.0,American Airlines Group Inc.,"Fort Worth, TX",W. Parker,0.0,0.0,60517.0,0.0,0.0,11939000.0,AAL,11999517.0,2018
7,0.0,American International Group Inc.,"New York, NY",Brian Duperreault,3040000.0,4199993.0,257487.0,0.0,1600000.0,11757189.0,AIG,20854669.0,2018
8,0.0,Allstate Corporation,"Northbrook, IL",Thomas Wilson,6719194.0,3874998.0,116971.0,873170.0,1290385.0,5812528.0,ALL,18687246.0,2018
9,0.0,Adobe Inc.,"San Jose, CA",Shantanu Narayen,1824313.0,0.0,33451.0,0.0,1000000.0,25539764.0,ADBE,28397528.0,2018

## analyst recommendation

In [153]:
results = []

for items in tick1: 
    data = query.earnings(symbol = items)
    eps = pd.DataFrame(data)

ReadTimeout: HTTPSConnectionPool(host='finnhub.io', port=443): Read timed out. (read timeout=10)

In [154]:
eps

    actual  estimate      period symbol
0    0.980   0.92578  2020-03-31   AMAT
1    0.800   0.75925  2019-12-31   AMAT
2    0.740   0.70110  2019-09-30   AMAT
3    0.700   0.65905  2019-06-30   AMAT
4    0.810   0.79095  2019-03-31   AMAT
..     ...       ...         ...    ...
72   0.010  -0.00232  2002-03-31   AMAT
73   0.015   0.01940  2001-12-31   AMAT
74   0.025   0.01204  2001-09-30   AMAT
75   0.160   0.16296  2001-06-30   AMAT
76   0.330   0.31591  2001-03-31   AMAT

[77 rows x 4 columns]

## Metrics

In [138]:
results = []

for items in tick1: 
    data = url + metric + ext2.format(items, api_key1)
    req = requests.get(data).json()
    results.append(req)
    m1 = json_normalize(results)
    m1.dropna(inplace=True)

In [139]:
m1

,metricType,symbol,metric.assetTurnoverAnnual,metric.assetTurnoverTTM,metric.inventoryTurnoverAnnual,metric.inventoryTurnoverTTM,metric.netIncomeEmployeeAnnual,metric.netIncomeEmployeeTTM,metric.receivablesTurnoverAnnual,metric.receivablesTurnoverTTM,...,metric.revenueEmployeeTTM,metric.roaRfy,metric.roaa5Y,metric.roae5Y,metric.roaeTTM,metric.roeRfy,metric.roeTTM,metric.roi5Y,metric.roiAnnual,metric.roiTTM
0,management,DD,0.16725,0.16725,3.33634,3.33634,-10210.53,-19400.00,5.91314,5.95241,...,614628.6,-0.52789,,,-1.04968,-1.04968,-0.52789,,-0.78309,-0.78309
1,management,BABA,0.44804,0.43701,31.2321,,133829.30,238344.70,20.6038,,...,678140.4,9.47188,12.891,22.942,28.536,20.4177,15.35962,17.8298,13.8339,22.1577
2,management,ABT,0.47244,0.47244,3.25345,3.25345,34295.24,33654.21,6.01565,6.01565,...,298168.2,5.33244,3.95604,8.91819,11.6893,11.6893,5.33244,4.68263,6.27494,6.27494
4,management,AMAT,0.79701,0.77629,2.28548,2.35206,124744.20,128500.00,5.77049,5.6044,...,682590.9,14.63295,16.1979,34.4272,33.5171,35.6199,14.61397,21.0381,18.9621,18.633
5,management,AMGN,0.37046,0.37046,1.33538,1.33538,349309.60,335128.20,6.11811,6.11811,...,998376.1,12.43548,10.8326,34.3629,70.7347,70.7347,12.43548,12.6749,15.7154,15.7154
6,management,AAL,0.75916,0.75916,10.4578,10.4583,12875.14,12676.69,26.4861,26.4861,...,344120.3,2.79660,5.81756,163.407,,,2.79660,8.19532,4.00627,4.00627
7,management,AIG,0.09817,0.09817,,,86213.39,89586.95,,,...,1085217.0,0.81038,0.27246,1.43575,5.39362,5.39362,0.81038,,,
8,management,ALL,0.38521,0.38521,,,106621.20,105875.90,,,...,976911.3,4.17487,2.54839,13.4805,21.6915,21.6915,4.17487,,,
9,management,ADBE,0.56519,0.57276,,,134319.00,142934.20,7.66657,8.16895,...,515213.9,14.94729,12.5486,22.5505,31.8164,29.7041,15.89002,16.6773,21.853,21.4407

In [141]:
results = []

for items in tick1: 
    data = url + metric + ext3.format(items, api_key1)
    req = requests.get(data).json()
    results.append(req)
    m2 = json_normalize(results)
    m2.dropna(inplace=True)

In [142]:
m2

,metricType,symbol,metric.freeOperatingCashFlow/revenue5Y,metric.freeOperatingCashFlow/revenueTTM,metric.grossMargin5Y,metric.grossMarginAnnual,metric.grossMarginTTM,metric.netProfitMargin%Annual,metric.netProfitMargin5Y,metric.netProfitMarginTTM,metric.operatingMargin5Y,metric.operatingMarginAnnual,metric.operatingMarginTTM,metric.pretaxMargin5Y,metric.pretaxMarginAnnual,metric.pretaxMarginTTM
0,margin,DD,,-46.43455,,34.6597,34.6597,-3.15638,,-3.15638,,-0.30681,-0.30681,,-2.20342,-2.20342
1,margin,BABA,38.7354,40.87565,55.632,45.8434,45.699,21.14084,31.8941,35.14681,23.0066,15.14791,19.03558,38.4788,25.53338,39.84291
2,margin,ABT,6.63616,6.98345,57.2195,58.6384,58.6384,11.28699,8.80577,11.28699,11.7509,14.00765,14.00765,10.5064,12.77896,12.77896
4,margin,AMAT,14.947,14.77659,43.5792,43.7158,43.8103,18.35980,20.2256,18.82533,23.4935,22.93264,23.20037,22.6964,22.37815,22.54778
5,margin,AMGN,28.3411,21.50073,81.7513,81.3543,81.3543,33.56733,34.0072,33.56733,42.1024,41.40913,41.40913,39.6306,39.11480,39.11480
6,margin,AAL,-0.96467,-1.37869,63.4075,61.4643,61.4622,3.68380,7.19274,3.68380,9.9111,6.69682,6.69682,7.61598,4.92921,4.92702
7,margin,AIG,-3.16081,-4.26082,,,,8.25521,2.6351,8.25521,6.42738,13.42949,13.42949,3.94358,10.59095,10.59095
8,margin,ALL,8.74117,8.74047,,,,10.83782,7.14061,10.83782,9.79519,13.61492,13.61492,9.79519,13.61492,13.61492
9,margin,ADBE,36.1842,36.96102,85.7351,85.0266,85.1867,26.44646,24.1751,27.74269,27.9751,29.25462,30.10192,27.3773,28.68728,29.33971

In [143]:
results = []

for items in tick1: 
    data = url + metric + ext4.format(items, api_key1)
    req = requests.get(data).json()
    results.append(req)
    m3 = json_normalize(results)
    m3.dropna(inplace=True)

In [144]:
m3

,metricType,symbol,metric.bookValueShareGrowth5Y,metric.capitalSpendingGrowth5Y,metric.dividendGrowthRate5Y,metric.ebitdaCagr5Y,metric.ebitdaInterimCagr5Y,metric.epsGrowth3Y,metric.epsGrowth5Y,metric.epsGrowthQuarterlyYoy,metric.epsGrowthTTMYoy,metric.focfCagr5Y,metric.netMarginGrowth5Y,metric.revenueGrowth3Y,metric.revenueGrowth5Y,metric.revenueGrowthQuarterlyYoy,metric.revenueGrowthTTMYoy,metric.revenueShareGrowth5Y,metric.tbvCagr5Y,metric.totalDebtCagr5Y
0,growth,DD,,,-26.8575,,,,,-50.39317,-353.82900,,,-23.55703,,-4.63625,-4.78888,,,
1,growth,BABA,60.9776,49.3443,,29.5595,38.2833,6.18768,27.5425,54.70443,145.60850,40.1034,-14.0079,55.02738,48.318,37.66947,41.59460,44.8705,44.8181,26.7359
2,growth,ABT,4.42139,8.74759,7.16645,12.254,13.4695,41.2936,12.3992,41.59599,45.24415,12.1463,5.83555,15.22821,9.52087,7.07019,4.33645,6.20181,,18.9592
4,growth,AMAT,6.83218,12.8455,27.0334,17.3862,14.9995,22.5474,26.6537,24.30596,-18.54218,13.635,9.21323,10.50644,9.99616,10.89795,-7.60475,15.9692,5.21677,22.2348
5,growth,AMGN,-13.564,-9.23101,13.1851,6.61116,5.59962,7.93203,13.963,-5.15992,2.17905,-2.50049,5.47906,0.53502,3.09149,-0.52970,-1.62126,8.04322,,-0.53441
6,growth,AAL,,-4.27847,0,-0.86016,-2.0735,-6.52604,-0.67816,35.08849,25.10292,,-11.4264,4.46904,1.42116,3.42841,2.75477,12.1348,,6.14596
7,growth,AIG,-0.57367,,0,-5.10986,-5.10986,,-6.7828,239.39090,15242.70000,,-6.76951,-1.88571,-5.03196,-6.33051,4.78589,4.6825,-9.28354,2.51789
8,growth,ALL,8.84001,8.49734,14.9623,6.03153,6.35797,44.3103,17.4863,406.41010,150.56380,10.3956,6.17411,6.67015,4.73866,20.97828,12.29035,10.6171,2.15155,5.22603
9,growth,ADBE,9.89523,21.6068,,41.117,38.4436,37.3871,62.6583,43.43712,19.62977,28.7323,32.5155,24.03366,21.9193,18.84138,22.08273,22.7467,,22.2689

## Stock Upgrade / Downgrade

In [ ]:
url4 = "https://finnhub.io/api/v1/stock/upgrade-downgrade?symbol={}&token={}".format(company, api_key) #url
req4 = requests.get(url4) 
status = pd.DataFrame(req4.json())

In [ ]:
status

### Peers

In [ ]:
url5 = "https://finnhub.io/api/v1/stock/peers?symbol={}&token={}".format(company, api_key) #url
req5 = requests.get(url5)

In [ ]:
print(req5.json())

## Revenue Estimates

In [ ]:
url6 = "https://finnhub.io/api/v1/stock/revenue-estimate?symbol={}&token={}".format(company, api_key) #url
req6 = requests.get(url6) 
rev = pd.DataFrame(req6.json())
rev1 = json_normalize(rev['data'])
rev1

## Earnings Estimate

In [ ]:
url7 = "https://finnhub.io/api/v1/stock/eps-estimate?symbol={}&token={}".format(company, api_key) #url
req7 = requests.get(url7) 
print(req7.json())

In [ ]:
eps = pd.DataFrame(req7.json())
eps1 = json_normalize(eps['data'])
eps1

## Investor Ownership

In [ ]:
url8 = "https://finnhub.io/api/v1/stock/investor-ownership?symbol={}&token={}".format(company, api_key) #url
req8 = requests.get(url8) 
# print(req8.json())
own = req8.json()

In [ ]:
ownership = pd.DataFrame(own.items(), columns =['Features', 'Value'])
# print(req8.json())
owner = pd.DataFrame(req8.json())
owner1 = json_normalize(owner['ownership'])

In [ ]:
owner1

## Fund Ownership

In [ ]:
url9 = "https://finnhub.io/api/v1/stock/fund-ownership?symbol={}&token={}".format(company, api_key) #url
req9 = requests.get(url9)
fdowner = pd.DataFrame(req9.json())
fdowner1 = json_normalize(fdowner['ownership'])
fdowner1

## performance metrics

In [ ]:
url9 = "https://finnhub.io/api/v1/stock/metric?symbol={}&metric=margin&token={}".format(company, api_key) #url
req9 = requests.get(url9) 
print(req9.json())

In [ ]:
perf = pd.DataFrame(req9.json())
perf

## stock quote

In [ ]:
url10 = "https://finnhub.io/api/v1/quote?symbol={}&token={}".format(company, api_key) #url
req10 = requests.get(url10) 
print(req10.json())

In [ ]:
url10 = "https://finnhub.io/api/v1/quote?symbol=BINANCE:BTCEUR&token={}".format(api_key) #url
req10 = requests.get(url10) 
print(req10.json())

## General News

In [ ]:
url11 = "https://finnhub.io/api/v1/news?category=general&token={}".format(api_key) #url
req11 = requests.get(url11) 
news = pd.DataFrame(req11.json())
news

## company news

In [ ]:
url12 = "https://finnhub.io/api/v1/news/{}?token={}".format(company,api_key) #url
req12 = requests.get(url12) 
compnews = pd.DataFrame(req12.json())
compnews

## Major Developments

In [ ]:
url13 = "https://finnhub.io/api/v1/major-development?symbol={}&token={}'".format(company,api_key) #url
req13 = requests.get(url13) 
# print(req13.json())

## New Sentiment

In [ ]:
url14 = "https://finnhub.io/api/v1/news-sentiment?symbol={}&token={}".format(company,api_key) #url
req14 = requests.get(url14) 

cpn = pd.DataFrame(req14.json())
print(req14.json())

## Economic Code & Data

In [ ]:
url15 = "https://finnhub.io/api/v1/economic/code?token={}".format(api_key) #url
req15 = requests.get(url15) 
# print(req15.json())

In [ ]:
code = pd.DataFrame(req15.json())
code.head(n=15)

In [ ]:
df = code.loc[code['country'] == 'United States']

In [ ]:
code.code.value_counts().sum()

In [ ]:
url16 = "https://finnhub.io/api/v1/economic?code=A-FRA-6682&token={}".format(api_key) #url
req16 = requests.get(url16) 
eco = pd.DataFrame(req16.json(), columns =['Date', 'Monthly Bankruptices in France'])
eco

In [ ]:
url17 = "https://finnhub.io/api/v1/covid19/us?token={}".format(api_key) #url
req17 = requests.get(url17) 
# print(req17.json())

covid = pd.DataFrame(req17.json())
covid.head(n=20)