In [35]:
import websocket
import pandas as pd
import requests
from pandas.io.json import json_normalize
import json
from code_ref import get_keys
from code_ref import findata
from code_ref import FinnhubRequestException
from code_ref import FinnhubAPIException
import time
import threading
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
keys = get_keys("/Users/augustingoudet/.secret/code_file") #Finnhub Key
api_key1 = keys ['finnhub'] #api_key
company = "SBUX" #Company Ticker

query = findata(api_key = api_key1)

In [42]:
url = "https://finnhub.io/api/v1/"

ext1 = "?symbol={}&token={}"
ext2 = "?symbol={}&metric=management&token={}"
ext3 = "?symbol={}&metric=margin&token={}"
ext4 = "?symbol={}&metric=growth&token={}"
ext5 = "?symbol={}&metric=price&token={}"

profile ="stock/profile"
ceo_comp = "stock/ceo-compensation"
board = "stock/executive"
reco = "stock/recommendation"
price_target = "stock/price-target"
up_down = "stock/upgrade-downgrade"
peers = "stock/peers"
rev_est = "stock/revenue-estimate"
eps_est = "stock/eps-estimate"
ownership = "stock/investor-ownership"
metric_1 = "stock/metric"
quote = "quote"
news = "news"
covid = "covid19"
transcript = "stock/transcripts"
divs = "stock/dividend?symbol={}&from=2019-02-01&to=2020-02-01"
split = "stock/split?symbol=AAPL&from=2010-02-01&to=2020-02-01"
inc = "stock/financials?symbol={}&statement=is&freq=annual"
bs = "stock/financials?symbol={}&statement=bs&freq=annual"
cfs = "stock/financials?symbol={}&statement=cf&freq=annual"

In [38]:
tickers = pd.read_csv('Ticker_list_1.csv')

In [39]:
tick = list(tickers.Ticker)
tick1 = tick[:7]

## Profiling Data

In [40]:
results = []

for items in tick1: 
    data = query.ceo_compensation(symbol = items)
    results.append(data)
    df = pd.DataFrame(results)
    df.dropna(inplace = True)


%time

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 13.1 µs

In [41]:
df

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
1,0.0,Apple Inc.,"Cupertino, CA",Timothy Cook,12000000.0,0.0,682219.0,0.0,3000000.0,0.0,AAPL,15682219.0,2018
2,0.0,Bank of America Corp,"Charlotte, NC",Brian Moynihan,0.0,0.0,382263.0,320159.0,1500000.0,20552088.0,BAC,22754510.0,2018
3,0.0,Amazon.com Inc.,"Seattle, WA",Jeffrey Bezos,0.0,0.0,1600000.0,0.0,81840.0,0.0,AMZN,1681840.0,2018
4,0.0,AT&T Inc.,"Dallas, TX",Randall Stephenson,5192000.0,0.0,1538538.0,3517806.0,1800000.0,17069774.0,T,29118118.0,2018
6,0.0,Altria Group Inc,"Richmond, VA",Martin Barrington,833300.0,0.0,175665.0,1505621.0,684816.0,0.0,MO,3199402.0,2018

## board members / executive

In [59]:
results = []

for items in tick1: 
    data = url + ceo_comp + ext1.format(items, api_key1)
    req = requests.get(data)
    content = req.json()
    results.append(content)
    df1 = pd.DataFrame(results)
    df1.dropna(inplace = True)

In [60]:
df1

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
1,0.0,Apple Inc.,"Cupertino, CA",Timothy Cook,12000000.0,0.0,682219.0,0.0,3000000.0,0.0,AAPL,15682219.0,2018
2,0.0,Bank of America Corp,"Charlotte, NC",Brian Moynihan,0.0,0.0,382263.0,320159.0,1500000.0,20552088.0,BAC,22754510.0,2018
3,0.0,Amazon.com Inc.,"Seattle, WA",Jeffrey Bezos,0.0,0.0,1600000.0,0.0,81840.0,0.0,AMZN,1681840.0,2018
4,0.0,AT&T Inc.,"Dallas, TX",Randall Stephenson,5192000.0,0.0,1538538.0,3517806.0,1800000.0,17069774.0,T,29118118.0,2018
6,0.0,Altria Group Inc,"Richmond, VA",Martin Barrington,833300.0,0.0,175665.0,1505621.0,684816.0,0.0,MO,3199402.0,2018

## analyst recommendation

In [68]:
pd.DataFrame(query.earnings(symbol = "SBUX"))

     actual  estimate      period symbol
0   0.79000   0.75864  2019-12-31   SBUX
1   0.70000   0.69867  2019-09-30   SBUX
2   0.78000   0.72407  2019-06-30   SBUX
3   0.60000   0.56313  2019-03-31   SBUX
4   0.68000   0.64839  2018-12-31   SBUX
..      ...       ...         ...    ...
72  0.03750   0.03684  2001-12-31   SBUX
73  0.03500   0.03334  2001-09-30   SBUX
74  0.03000   0.03035  2001-06-30   SBUX
75  0.02000   0.01986  2001-03-31   SBUX
76  0.03125   0.02890  2000-12-31   SBUX

[77 rows x 4 columns]

In [73]:
results = []

for items in tick1: 
    data = query.earnings(symbol = items)
    earnings = pd.DataFrame(data)

[]
[{'actual': 4.99, 'estimate': 4.54738, 'period': '2019-12-31', 'symbol': 'AAPL'}, {'actual': 3.03, 'estimate': 2.83934, 'period': '2019-09-30', 'symbol': 'AAPL'}, {'actual': 2.18, 'estimate': 2.09819, 'period': '2019-06-30', 'symbol': 'AAPL'}, {'actual': 2.46, 'estimate': 2.36141, 'period': '2019-03-31', 'symbol': 'AAPL'}, {'actual': 4.18, 'estimate': 4.16694, 'period': '2018-12-31', 'symbol': 'AAPL'}, {'actual': 2.91, 'estimate': 2.78306, 'period': '2018-09-30', 'symbol': 'AAPL'}, {'actual': 2.34, 'estimate': 2.18136, 'period': '2018-06-30', 'symbol': 'AAPL'}, {'actual': 2.73, 'estimate': 2.67285, 'period': '2018-03-31', 'symbol': 'AAPL'}, {'actual': 3.89, 'estimate': 3.857, 'period': '2017-12-31', 'symbol': 'AAPL'}, {'actual': 2.07, 'estimate': 1.86736, 'period': '2017-09-30', 'symbol': 'AAPL'}, {'actual': 1.67, 'estimate': 1.57153, 'period': '2017-06-30', 'symbol': 'AAPL'}, {'actual': 2.1, 'estimate': 2.01987, 'period': '2017-03-31', 'symbol': 'AAPL'}, {'actual': 3.36, 'estimate': 3.21381, 'period': '2016-12-31', 'symbol': 'AAPL'}, {'actual': 1.67, 'estimate': 1.65608, 'period': '2016-09-30', 'symbol': 'AAPL'}, {'actual': 1.42, 'estimate': 1.38403, 'period': '2016-06-30', 'symbol': 'AAPL'}, {'actual': 1.9, 'estimate': 1.99761, 'period': '2016-03-31', 'symbol': 'AAPL'}, {'actual': 3.28, 'estimate': 3.22731, 'period': '2015-12-31', 'symbol': 'AAPL'}, {'actual': 1.96, 'estimate': 1.87991, 'period': '2015-09-30', 'symbol': 'AAPL'}, {'actual': 1.85, 'estimate': 1.81149, 'period': '2015-06-30', 'symbol': 'AAPL'}, {'actual': 2.33, 'estimate': 2.15871, 'period': '2015-03-31', 'symbol': 'AAPL'}, {'actual': 3.06, 'estimate': 2.60188, 'period': '2014-12-31', 'symbol': 'AAPL'}, {'actual': 1.42, 'estimate': 1.30512, 'period': '2014-09-30', 'symbol': 'AAPL'}, {'actual': 1.28, 'estimate': 1.23103, 'period': '2014-06-30', 'symbol': 'AAPL'}, {'actual': 1.66, 'estimate': 1.45628, 'period': '2014-03-31', 'symbol': 'AAPL'}, {'actual': 2.07143, 'estimate': 2.00952, 'period': '2013-12-31', 'symbol': 'AAPL'}, {'actual': 1.18, 'estimate': 1.13656, 'period': '2013-09-30', 'symbol': 'AAPL'}, {'actual': 1.06714, 'estimate': 1.04571, 'period': '2013-06-30', 'symbol': 'AAPL'}, {'actual': 1.44143, 'estimate': 1.42884, 'period': '2013-03-31', 'symbol': 'AAPL'}, {'actual': 1.97286, 'estimate': 1.92437, 'period': '2012-12-31', 'symbol': 'AAPL'}, {'actual': 1.23857, 'estimate': 1.25, 'period': '2012-09-30', 'symbol': 'AAPL'}, {'actual': 1.33143, 'estimate': 1.48126, 'period': '2012-06-30', 'symbol': 'AAPL'}, {'actual': 1.75714, 'estimate': 1.43378, 'period': '2012-03-31', 'symbol': 'AAPL'}, {'actual': 1.98143, 'estimate': 1.45205, 'period': '2011-12-31', 'symbol': 'AAPL'}, {'actual': 1.00714, 'estimate': 1.05506, 'period': '2011-09-30', 'symbol': 'AAPL'}, {'actual': 1.11286, 'estimate': 0.83308, 'period': '2011-06-30', 'symbol': 'AAPL'}, {'actual': 0.91428, 'estimate': 0.76771, 'period': '2011-03-31', 'symbol': 'AAPL'}, {'actual': 0.91857, 'estimate': 0.77186, 'period': '2010-12-31', 'symbol': 'AAPL'}, {'actual': 0.66286, 'estimate': 0.58276, 'period': '2010-09-30', 'symbol': 'AAPL'}, {'actual': 0.50143, 'estimate': 0.44499, 'period': '2010-06-30', 'symbol': 'AAPL'}, {'actual': 0.47571, 'estimate': 0.34954, 'period': '2010-03-31', 'symbol': 'AAPL'}, {'actual': 0.52429, 'estimate': 0.29927, 'period': '2009-12-31', 'symbol': 'AAPL'}, {'actual': 0.26, 'estimate': 0.2038, 'period': '2009-09-30', 'symbol': 'AAPL'}, {'actual': 0.19286, 'estimate': 0.16793, 'period': '2009-06-30', 'symbol': 'AAPL'}, {'actual': 0.19, 'estimate': 0.15588, 'period': '2009-03-31', 'symbol': 'AAPL'}, {'actual': 0.25429, 'estimate': 0.19826, 'period': '2008-12-31', 'symbol': 'AAPL'}, {'actual': 0.18, 'estimate': 0.15887, 'period': '2008-09-30', 'symbol': 'AAPL'}, {'actual': 0.17, 'estimate': 0.15399, 'period': '2008-06-30', 'symbol': 'AAPL'}, {'actual': 0.16571, 'estimate': 0.15329, 'period': '2008-03-31', 'symbol': 'AAPL'}, {'actual': 0.25143, 'estimate': 0.23097, 'period': '2007-12-31', 'symbol': 'AAPL'}, {'actual': 0.14429, 'estimate': 0.1224, 'period': '2007-09-30', 'symbol': 'AAPL'}, {'actual': 0.13143, 'estimate': 0.10343, 'period': '2007-06-30', 'symbol': 'AAPL'}, {'actual': 0.12429, 'estimate': 0.09143, 'period': '2007-03-31', 'symbol': 'AAPL'}, {'actual': 0.16286, 'estimate': 0.11202, 'period': '2006-12-31', 'symbol': 'AAPL'}, {'actual': 0.08857, 'estimate': 0.07227, 'period': '2006-09-30', 'symbol': 'AAPL'}, {'actual': 0.07714, 'estimate': 0.06279, 'period': '2006-06-30', 'symbol': 'AAPL'}, {'actual': 0.06714, 'estimate': 0.06204, 'period': '2006-03-31', 'symbol': 'AAPL'}, {'actual': 0.09286, 'estimate': 0.08671, 'period': '2005-12-31', 'symbol': 'AAPL'}, {'actual': 0.05429, 'estimate': 0.05314, 'period': '2005-09-30', 'symbol': 'AAPL'}, {'actual': 0.05286, 'estimate': 0.04481, 'period': '2005-06-30', 'symbol': 'AAPL'}, {'actual': 0.04857, 'estimate': 0.03477, 'period': '2005-03-31', 'symbol': 'AAPL'}, {'actual': 0.05, 'estimate': 0.03474, 'period': '2004-12-31', 'symbol': 'AAPL'}, {'actual': 0.01929, 'estimate': 0.01306, 'period': '2004-09-30', 'symbol': 'AAPL'}, {'actual': 0.01214, 'estimate': 0.01056, 'period': '2004-06-30', 'symbol': 'AAPL'}, {'actual': 0.01, 'estimate': 0.00676, 'period': '2004-03-31', 'symbol': 'AAPL'}, {'actual': 0.01143, 'estimate': 0.01038, 'period': '2003-12-31', 'symbol': 'AAPL'}, {'actual': 0.00571, 'estimate': 0.00474, 'period': '2003-09-30', 'symbol': 'AAPL'}, {'actual': 0.00357, 'estimate': 0.00219, 'period': '2003-06-30', 'symbol': 'AAPL'}, {'actual': 0.00286, 'estimate': 0.00143, 'period': '2003-03-31', 'symbol': 'AAPL'}, {'actual': 0.00214, 'estimate': 0.0041, 'period': '2002-12-31', 'symbol': 'AAPL'}, {'actual': 0.00143, 'estimate': 0.00432, 'period': '2002-09-30', 'symbol': 'AAPL'}, {'actual': 0.00643, 'estimate': 0.00624, 'period': '2002-06-30', 'symbol': 'AAPL'}, {'actual': 0.00786, 'estimate': 0.0071, 'period': '2002-03-31', 'symbol': 'AAPL'}, {'actual': 0.03143, 'estimate': 0.00769, 'period': '2001-12-31', 'symbol': 'AAPL'}, {'actual': 0.01286, 'estimate': 0.01158, 'period': '2001-09-30', 'symbol': 'AAPL'}, {'actual': 0.01214, 'estimate': 0.01088, 'period': '2001-06-30', 'symbol': 'AAPL'}, {'actual': 0.00786, 'estimate': 0.00044, 'period': '2001-03-31', 'symbol': 'AAPL'}, {'actual': -0.05214, 'estimate': -0.04615, 'period': '2000-12-31', 'symbol': 'AAPL'}]
[{'actual': 0.75, 'estimate': 0.68357, 'period': '2019-12-31', 'symbol': 'BAC'}, {'actual': 0.56, 'estimate': 0.50644, 'period': '2019-09-30', 'symbol': 'BAC'}, {'actual': 0.75, 'estimate': 0.70738, 'period': '2019-06-30', 'symbol': 'BAC'}, {'actual': 0.71, 'estimate': 0.65535, 'period': '2019-03-31', 'symbol': 'BAC'}, {'actual': 0.7, 'estimate': 0.63096, 'period': '2018-12-31', 'symbol': 'BAC'}, {'actual': 0.67, 'estimate': 0.62017, 'period': '2018-09-30', 'symbol': 'BAC'}, {'actual': 0.64, 'estimate': 0.57045, 'period': '2018-06-30', 'symbol': 'BAC'}, {'actual': 0.62, 'estimate': 0.59233, 'period': '2018-03-31', 'symbol': 'BAC'}, {'actual': 0.48, 'estimate': 0.43841, 'period': '2017-12-31', 'symbol': 'BAC'}, {'actual': 0.48, 'estimate': 0.45384, 'period': '2017-09-30', 'symbol': 'BAC'}, {'actual': 0.46, 'estimate': 0.42908, 'period': '2017-06-30', 'symbol': 'BAC'}, {'actual': 0.41, 'estimate': 0.34685, 'period': '2017-03-31', 'symbol': 'BAC'}, {'actual': 0.41, 'estimate': 0.3759, 'period': '2016-12-31', 'symbol': 'BAC'}, {'actual': 0.41, 'estimate': 0.33335, 'period': '2016-09-30', 'symbol': 'BAC'}, {'actual': 0.37, 'estimate': 0.3267, 'period': '2016-06-30', 'symbol': 'BAC'}, {'actual': 0.2, 'estimate': 0.20496, 'period': '2016-03-31', 'symbol': 'BAC'}, {'actual': 0.29, 'estimate': 0.26354, 'period': '2015-12-31', 'symbol': 'BAC'}, {'actual': 0.34, 'estimate': 0.33079, 'period': '2015-09-30', 'symbol': 'BAC'}, {'actual': 0.37, 'estimate': 0.35729, 'period': '2015-06-30', 'symbol': 'BAC'}, {'actual': 0.3, 'estimate': 0.29118, 'period': '2015-03-31', 'symbol': 'BAC'}, {'actual': 0.32, 'estimate': 0.31104, 'period': '2014-12-31', 'symbol': 'BAC'}, {'actual': -0.03, 'estimate': -0.09047, 'period': '2014-09-30', 'symbol': 'BAC'}, {'actual': 0.22, 'estimate': 0.28557, 'period': '2014-06-30', 'symbol': 'BAC'}, {'actual': 0.1, 'estimate': 0.05063, 'period': '2014-03-31', 'symbol': 'BAC'}, {'actual': 0.29, 'estimate': 0.2619, 'period': '2013-12-31', 'symbol': 'BAC'}, {'actual': 0.2, 'estimate': 0.18264, 'period': '2013-09-30', 'symbol': 'BAC'}, {'actual': 0.32, 'estimate': 0, 'period': '2013-06-30', 'symbol': 'BAC'}, {'actual': 0.2, 'estimate': 0.22279, 'period': '2013-03-31', 'symbol': 'BAC'}, {'actual': 0.03, 'estimate': 0.02227, 'period': '2012-12-31', 'symbol': 'BAC'}, {'actual': 0, 'estimate': -0.07105, 'period': '2012-09-30', 'symbol': 'BAC'}, {'actual': 0.17, 'estimate': 0.14083, 'period': '2012-06-30', 'symbol': 'BAC'}, {'actual': 0.24, 'estimate': 0.12185, 'period': '2012-03-31', 'symbol': 'BAC'}, {'actual': 0.15, 'estimate': 0.14933, 'period': '2011-12-31', 'symbol': 'BAC'}, {'actual': 0.31, 'estimate': 0.19381, 'period': '2011-09-30', 'symbol': 'BAC'}, {'actual': -0.9, 'estimate': -0.90333, 'period': '2011-06-30', 'symbol': 'BAC'}, {'actual': 0.17, 'estimate': 0.26692, 'period': '2011-03-31', 'symbol': 'BAC'}, {'actual': 0.04, 'estimate': 0.14421, 'period': '2010-12-31', 'symbol': 'BAC'}, {'actual': 0.27, 'estimate': 0.16208, 'period': '2010-09-30', 'symbol': 'BAC'}, {'actual': 0.27, 'estimate': 0.2196, 'period': '2010-06-30', 'symbol': 'BAC'}, {'actual': 0.28, 'estimate': 0.09261, 'period': '2010-03-31', 'symbol': 'BAC'}, {'actual': -0.6, 'estimate': -0.5316, 'period': '2009-12-31', 'symbol': 'BAC'}, {'actual': -0.26, 'estimate': -0.20533, 'period': '2009-09-30', 'symbol': 'BAC'}, {'actual': 0.33, 'estimate': 0.2755, 'period': '2009-06-30', 'symbol': 'BAC'}, {'actual': 0.44, 'estimate': 0.048, 'period': '2009-03-31', 'symbol': 'BAC'}, {'actual': -0.48, 'estimate': 0.015, 'period': '2008-12-31', 'symbol': 'BAC'}, {'actual': 0.15, 'estimate': 0.63706, 'period': '2008-09-30', 'symbol': 'BAC'}, {'actual': 0.72, 'estimate': 0.532, 'period': '2008-06-30', 'symbol': 'BAC'}, {'actual': 0.23, 'estimate': 0.41, 'period': '2008-03-31', 'symbol': 'BAC'}, {'actual': 0.05, 'estimate': 0.17895, 'period': '2007-12-31', 'symbol': 'BAC'}, {'actual': 0.82, 'estimate': 1.05524, 'period': '2007-09-30', 'symbol': 'BAC'}, {'actual': 1.28, 'estimate': 1.19857, 'period': '2007-06-30', 'symbol': 'BAC'}, {'actual': 1.17, 'estimate': 1.15083, 'period': '2007-03-31', 'symbol': 'BAC'}, {'actual': 1.19, 'estimate': 1.18, 'period': '2006-12-31', 'symbol': 'BAC'}, {'actual': 1.22, 'estimate': 1.154, 'period': '2006-09-30', 'symbol': 'BAC'}, {'actual': 1.22, 'estimate': 1.09615, 'period': '2006-06-30', 'symbol': 'BAC'}, {'actual': 1.08, 'estimate': 0.998, 'period': '2006-03-31', 'symbol': 'BAC'}, {'actual': 0.94, 'estimate': 1.02246, 'period': '2005-12-31', 'symbol': 'BAC'}, {'actual': 1.04, 'estimate': 1.02012, 'period': '2005-09-30', 'symbol': 'BAC'}, {'actual': 1.08, 'estimate': 1.0092, 'period': '2005-06-30', 'symbol': 'BAC'}, {'actual': 1.16, 'estimate': 0.97304, 'period': '2005-03-31', 'symbol': 'BAC'}, {'actual': 0.94, 'estimate': 0.94333, 'period': '2004-12-31', 'symbol': 'BAC'}, {'actual': 0.91, 'estimate': 0.90467, 'period': '2004-09-30', 'symbol': 'BAC'}, {'actual': 0.93, 'estimate': 0.87188, 'period': '2004-06-30', 'symbol': 'BAC'}, {'actual': 0.915, 'estimate': 0.895, 'period': '2004-03-31', 'symbol': 'BAC'}, {'actual': 0.915, 'estimate': 0.88952, 'period': '2003-12-31', 'symbol': 'BAC'}, {'actual': 0.96, 'estimate': 0.84605, 'period': '2003-09-30', 'symbol': 'BAC'}, {'actual': 0.9, 'estimate': 0.785, 'period': '2003-06-30', 'symbol': 'BAC'}, {'actual': 0.795, 'estimate': 0.73944, 'period': '2003-03-31', 'symbol': 'BAC'}, {'actual': 0.845, 'estimate': 0.818, 'period': '2002-12-31', 'symbol': 'BAC'}, {'actual': 0.725, 'estimate': 0.70761, 'period': '2002-09-30', 'symbol': 'BAC'}, {'actual': 0.7, 'estimate': 0.6962, 'period': '2002-06-30', 'symbol': 'BAC'}, {'actual': 0.69, 'estimate': 0.67109, 'period': '2002-03-31', 'symbol': 'BAC'}]
[{'actual': 6.47, 'estimate': 4.0283, 'period': '2019-12-31', 'symbol': 'AMZN'}, {'actual': 4.23, 'estimate': 4.61932, 'period': '2019-09-30', 'symbol': 'AMZN'}, {'actual': 5.22, 'estimate': 5.5693, 'period': '2019-06-30', 'symbol': 'AMZN'}, {'actual': 7.09, 'estimate': 4.7231, 'period': '2019-03-31', 'symbol': 'AMZN'}, {'actual': 6.04, 'estimate': 5.68009, 'period': '2018-12-31', 'symbol': 'AMZN'}, {'actual': 5.75, 'estimate': 3.14245, 'period': '2018-09-30', 'symbol': 'AMZN'}, {'actual': 5.07, 'estimate': 2.53705, 'period': '2018-06-30', 'symbol': 'AMZN'}, {'actual': 3.27, 'estimate': 1.25933, 'period': '2018-03-31', 'symbol': 'AMZN'}, {'actual': 2.16, 'estimate': 1.8409, 'period': '2017-12-31', 'symbol': 'AMZN'}, {'actual': 0.52, 'estimate': 0.02955, 'period': '2017-09-30', 'symbol': 'AMZN'}, {'actual': 0.4, 'estimate': 1.41891, 'period': '2017-06-30', 'symbol': 'AMZN'}, {'actual': 1.48, 'estimate': 1.08465, 'period': '2017-03-31', 'symbol': 'AMZN'}, {'actual': 1.54, 'estimate': 1.34687, 'period': '2016-12-31', 'symbol': 'AMZN'}, {'actual': 0.52, 'estimate': 0.77908, 'period': '2016-09-30', 'symbol': 'AMZN'}, {'actual': 1.78, 'estimate': 1.108, 'period': '2016-06-30', 'symbol': 'AMZN'}, {'actual': 1.07, 'estimate': 0.58976, 'period': '2016-03-31', 'symbol': 'AMZN'}, {'actual': 1, 'estimate': 1.57137, 'period': '2015-12-31', 'symbol': 'AMZN'}, {'actual': 0.17, 'estimate': -0.13561, 'period': '2015-09-30', 'symbol': 'AMZN'}, {'actual': 0.19, 'estimate': -0.13847, 'period': '2015-06-30', 'symbol': 'AMZN'}, {'actual': -0.12, 'estimate': -0.12241, 'period': '2015-03-31', 'symbol': 'AMZN'}, {'actual': 0.45, 'estimate': 0.16781, 'period': '2014-12-31', 'symbol': 'AMZN'}, {'actual': -0.95, 'estimate': -0.74459, 'period': '2014-09-30', 'symbol': 'AMZN'}, {'actual': -0.27, 'estimate': -0.14557, 'period': '2014-06-30', 'symbol': 'AMZN'}, {'actual': 0.23, 'estimate': 0.22806, 'period': '2014-03-31', 'symbol': 'AMZN'}, {'actual': 0.51, 'estimate': 0.66185, 'period': '2013-12-31', 'symbol': 'AMZN'}, {'actual': -0.09, 'estimate': -0.08797, 'period': '2013-09-30', 'symbol': 'AMZN'}, {'actual': -0.02, 'estimate': 0.05359, 'period': '2013-06-30', 'symbol': 'AMZN'}, {'actual': 0.18, 'estimate': 0.078, 'period': '2013-03-31', 'symbol': 'AMZN'}, {'actual': 0.21, 'estimate': 0.27851, 'period': '2012-12-31', 'symbol': 'AMZN'}, {'actual': -0.23, 'estimate': -0.07895, 'period': '2012-09-30', 'symbol': 'AMZN'}, {'actual': 0.16, 'estimate': 0.02442, 'period': '2012-06-30', 'symbol': 'AMZN'}, {'actual': 0.28, 'estimate': 0.07121, 'period': '2012-03-31', 'symbol': 'AMZN'}, {'actual': 0.38, 'estimate': 0.16749, 'period': '2011-12-31', 'symbol': 'AMZN'}, {'actual': 0.14, 'estimate': 0.24429, 'period': '2011-09-30', 'symbol': 'AMZN'}, {'actual': 0.41, 'estimate': 0.34959, 'period': '2011-06-30', 'symbol': 'AMZN'}, {'actual': 0.44, 'estimate': 0.60531, 'period': '2011-03-31', 'symbol': 'AMZN'}, {'actual': 0.91, 'estimate': 0.88328, 'period': '2010-12-31', 'symbol': 'AMZN'}, {'actual': 0.51, 'estimate': 0.47452, 'period': '2010-09-30', 'symbol': 'AMZN'}, {'actual': 0.45, 'estimate': 0.53807, 'period': '2010-06-30', 'symbol': 'AMZN'}, {'actual': 0.66, 'estimate': 0.606, 'period': '2010-03-31', 'symbol': 'AMZN'}, {'actual': 0.85, 'estimate': 0.71939, 'period': '2009-12-31', 'symbol': 'AMZN'}, {'actual': 0.45, 'estimate': 0.32714, 'period': '2009-09-30', 'symbol': 'AMZN'}, {'actual': 0.32, 'estimate': 0.31148, 'period': '2009-06-30', 'symbol': 'AMZN'}, {'actual': 0.41, 'estimate': 0.30929, 'period': '2009-03-31', 'symbol': 'AMZN'}, {'actual': 0.52, 'estimate': 0.39037, 'period': '2008-12-31', 'symbol': 'AMZN'}, {'actual': 0.27, 'estimate': 0.24619, 'period': '2008-09-30', 'symbol': 'AMZN'}, {'actual': 0.37, 'estimate': 0.26046, 'period': '2008-06-30', 'symbol': 'AMZN'}, {'actual': 0.34, 'estimate': 0.32348, 'period': '2008-03-31', 'symbol': 'AMZN'}, {'actual': 0.48, 'estimate': 0.47682, 'period': '2007-12-31', 'symbol': 'AMZN'}, {'actual': 0.19, 'estimate': 0.1813, 'period': '2007-09-30', 'symbol': 'AMZN'}, {'actual': 0.19, 'estimate': 0.15773, 'period': '2007-06-30', 'symbol': 'AMZN'}, {'actual': 0.26, 'estimate': 0.15429, 'period': '2007-03-31', 'symbol': 'AMZN'}, {'actual': 0.23, 'estimate': 0.2113, 'period': '2006-12-31', 'symbol': 'AMZN'}, {'actual': 0.05, 'estimate': 0.03322, 'period': '2006-09-30', 'symbol': 'AMZN'}, {'actual': 0.05, 'estimate': 0.06476, 'period': '2006-06-30', 'symbol': 'AMZN'}, {'actual': 0.12, 'estimate': 0.11722, 'period': '2006-03-31', 'symbol': 'AMZN'}, {'actual': 0.47, 'estimate': 0.21278, 'period': '2005-12-31', 'symbol': 'AMZN'}, {'actual': 0.07, 'estimate': 0.09917, 'period': '2005-09-30', 'symbol': 'AMZN'}, {'actual': 0.12, 'estimate': 0.10539, 'period': '2005-06-30', 'symbol': 'AMZN'}, {'actual': 0.18, 'estimate': 0.2275, 'period': '2005-03-31', 'symbol': 'AMZN'}, {'actual': 0.35, 'estimate': 0.39864, 'period': '2004-12-31', 'symbol': 'AMZN'}, {'actual': 0.17, 'estimate': 0.1775, 'period': '2004-09-30', 'symbol': 'AMZN'}, {'actual': 0.18, 'estimate': 0.1895, 'period': '2004-06-30', 'symbol': 'AMZN'}, {'actual': 0.23, 'estimate': 0.19684, 'period': '2004-03-31', 'symbol': 'AMZN'}, {'actual': 0.29, 'estimate': 0.28938, 'period': '2003-12-31', 'symbol': 'AMZN'}, {'actual': 0.11, 'estimate': 0.09769, 'period': '2003-09-30', 'symbol': 'AMZN'}, {'actual': 0.1, 'estimate': 0.06077, 'period': '2003-06-30', 'symbol': 'AMZN'}, {'actual': 0.1, 'estimate': 0.04214, 'period': '2003-03-31', 'symbol': 'AMZN'}, {'actual': 0.19, 'estimate': 0.14308, 'period': '2002-12-31', 'symbol': 'AMZN'}, {'actual': 0, 'estimate': -0.04333, 'period': '2002-09-30', 'symbol': 'AMZN'}, {'actual': -0.01, 'estimate': -0.05563, 'period': '2002-06-30', 'symbol': 'AMZN'}, {'actual': -0.01, 'estimate': -0.09263, 'period': '2002-03-31', 'symbol': 'AMZN'}]

In [76]:
df = pd.DataFrame(data)
df

    actual  estimate      period symbol
0     1.02   1.01908  2019-12-31     MO
1     1.19   1.14892  2019-09-30     MO
2     1.10   1.10571  2019-06-30     MO
3     0.90   0.92179  2019-03-31     MO
4     0.95   0.94986  2018-12-31     MO
..     ...       ...         ...    ...
67    1.07   1.06000  2003-03-31     MO
68    0.93   0.92444  2002-12-31     MO
69    1.26   1.26000  2002-09-30     MO
70    1.24   1.22875  2002-06-30     MO
71    1.14   1.13167  2002-03-31     MO

[72 rows x 4 columns]

## price target

In [ ]:
url3 = "https://finnhub.io/api/v1/stock/price-target?symbol={}&token={}".format(company, api_key) #url
req3 = requests.get(url3)

In [ ]:
print(req3.json())

## Stock Upgrade / Downgrade

In [ ]:
url4 = "https://finnhub.io/api/v1/stock/upgrade-downgrade?symbol={}&token={}".format(company, api_key) #url
req4 = requests.get(url4) 
status = pd.DataFrame(req4.json())

In [ ]:
status

### Peers

In [ ]:
url5 = "https://finnhub.io/api/v1/stock/peers?symbol={}&token={}".format(company, api_key) #url
req5 = requests.get(url5)

In [ ]:
print(req5.json())

## Revenue Estimates

In [ ]:
url6 = "https://finnhub.io/api/v1/stock/revenue-estimate?symbol={}&token={}".format(company, api_key) #url
req6 = requests.get(url6) 
rev = pd.DataFrame(req6.json())
rev1 = json_normalize(rev['data'])
rev1

## Earnings Estimate

In [ ]:
url7 = "https://finnhub.io/api/v1/stock/eps-estimate?symbol={}&token={}".format(company, api_key) #url
req7 = requests.get(url7) 
print(req7.json())

In [ ]:
eps = pd.DataFrame(req7.json())
eps1 = json_normalize(eps['data'])
eps1

## Investor Ownership

In [ ]:
url8 = "https://finnhub.io/api/v1/stock/investor-ownership?symbol={}&token={}".format(company, api_key) #url
req8 = requests.get(url8) 
# print(req8.json())
own = req8.json()

In [ ]:
ownership = pd.DataFrame(own.items(), columns =['Features', 'Value'])
# print(req8.json())
owner = pd.DataFrame(req8.json())
owner1 = json_normalize(owner['ownership'])

In [ ]:
owner1

## Fund Ownership

In [ ]:
url9 = "https://finnhub.io/api/v1/stock/fund-ownership?symbol={}&token={}".format(company, api_key) #url
req9 = requests.get(url9)
fdowner = pd.DataFrame(req9.json())
fdowner1 = json_normalize(fdowner['ownership'])
fdowner1

## performance metrics

In [ ]:
url9 = "https://finnhub.io/api/v1/stock/metric?symbol={}&metric=margin&token={}".format(company, api_key) #url
req9 = requests.get(url9) 
print(req9.json())

In [ ]:
perf = pd.DataFrame(req9.json())
perf

## stock quote

In [ ]:
url10 = "https://finnhub.io/api/v1/quote?symbol={}&token={}".format(company, api_key) #url
req10 = requests.get(url10) 
print(req10.json())

In [ ]:
url10 = "https://finnhub.io/api/v1/quote?symbol=BINANCE:BTCEUR&token={}".format(api_key) #url
req10 = requests.get(url10) 
print(req10.json())

## General News

In [ ]:
url11 = "https://finnhub.io/api/v1/news?category=general&token={}".format(api_key) #url
req11 = requests.get(url11) 
news = pd.DataFrame(req11.json())
news

## company news

In [ ]:
url12 = "https://finnhub.io/api/v1/news/{}?token={}".format(company,api_key) #url
req12 = requests.get(url12) 
compnews = pd.DataFrame(req12.json())
compnews

## Major Developments

In [ ]:
url13 = "https://finnhub.io/api/v1/major-development?symbol={}&token={}'".format(company,api_key) #url
req13 = requests.get(url13) 
# print(req13.json())

## New Sentiment

In [ ]:
url14 = "https://finnhub.io/api/v1/news-sentiment?symbol={}&token={}".format(company,api_key) #url
req14 = requests.get(url14) 

cpn = pd.DataFrame(req14.json())
print(req14.json())

## Economic Code & Data

In [ ]:
url15 = "https://finnhub.io/api/v1/economic/code?token={}".format(api_key) #url
req15 = requests.get(url15) 
# print(req15.json())

In [ ]:
code = pd.DataFrame(req15.json())
code.head(n=15)

In [ ]:
df = code.loc[code['country'] == 'United States']

In [ ]:
code.code.value_counts().sum()

In [ ]:
url16 = "https://finnhub.io/api/v1/economic?code=A-FRA-6682&token={}".format(api_key) #url
req16 = requests.get(url16) 
eco = pd.DataFrame(req16.json(), columns =['Date', 'Monthly Bankruptices in France'])
eco

In [ ]:
url17 = "https://finnhub.io/api/v1/covid19/us?token={}".format(api_key) #url
req17 = requests.get(url17) 
# print(req17.json())

covid = pd.DataFrame(req17.json())
covid.head(n=20)