In [25]:
import websocket
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [26]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [27]:
keys = get_keys("/Users/augustingoudet/.secret/code_file") #Finnhub Key
api_key = keys ['finnhub'] #api_key
company = "MO" #Company Ticker

In [28]:
tickers = pd.read_excel('Ticker_list_1.xlsx')

In [38]:
tick = list(tickers.Ticker)
tick1 = tick[:10]

['OEDV', 'AAPL', 'BAC', 'AMZN', 'T', 'GOOG', 'MO', 'DAL', 'AA', 'AXP']

In [72]:
results = []

for items in tick1: 
    url = "https://finnhub.io/api/v1/stock/ceo-compensation?symbol={}&token={}".format(items, api_key)
    req = requests.get(url)
    content = req.json()
    results.append(content)
    CEO_PAY = pd.DataFrame(results)
    CEO_PAY.dropna(inplace = True)

CEO_PAY
#     for i in enumerate(content):
#             content['companyName']
            
#             CEO_PAY.drop_duplicates(inplace = True)
# CEO_PAY

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
1,0.0,Apple Inc.,"Cupertino, CA",Timothy Cook,12000000.0,0.0,682219.0,0.0,3000000.0,0.0,AAPL,15682219.0,2018
2,0.0,Bank of America Corp,"Charlotte, NC",Brian Moynihan,0.0,0.0,382263.0,320159.0,1500000.0,20552088.0,BAC,22754510.0,2018
3,0.0,Amazon.com Inc.,"Seattle, WA",Jeffrey Bezos,0.0,0.0,1600000.0,0.0,81840.0,0.0,AMZN,1681840.0,2018
4,0.0,AT&T Inc.,"Dallas, TX",Randall Stephenson,5192000.0,0.0,1538538.0,3517806.0,1800000.0,17069774.0,T,29118118.0,2018
6,0.0,Altria Group Inc,"Richmond, VA",Martin Barrington,833300.0,0.0,175665.0,1505621.0,684816.0,0.0,MO,3199402.0,2018
7,0.0,Delta Air Lines Inc.,"Atlanta, GA",Edward Bastian,2277090.0,3795014.0,313559.0,0.0,891667.0,7705118.0,DAL,14982448.0,2018
8,0.0,Alcoa Corp.,"Pittsburgh, PA",Roy Harvey,947333.0,1562543.0,65455.0,512574.0,966667.0,9141997.0,AA,13196569.0,2018
9,552083.0,American Express Company,"New York, NY",Kenneth Chenault,6355000.0,0.0,4372290.0,432720.0,166667.0,12329901.0,AXP,24208661.0,2018

In [65]:
# df = pd.DataFrame(results)
# df.drop_duplicates(inplace = True)

,bonus,companyName,location,name,nonEquityIncentives,optionAwards,otherComp,pensionAndDeferred,salary,stockAwards,symbol,total,year
0,0,Apple Inc.,"Cupertino, CA",Timothy Cook,12000000,0,682219,0,3000000,0,AAPL,15682219,2018
13,0,Bank of America Corp,"Charlotte, NC",Brian Moynihan,0,0,382263,320159,1500000,20552088,BAC,22754510,2018
26,0,Amazon.com Inc.,"Seattle, WA",Jeffrey Bezos,0,0,1600000,0,81840,0,AMZN,1681840,2018
39,0,AT&T Inc.,"Dallas, TX",Randall Stephenson,5192000,0,1538538,3517806,1800000,17069774,T,29118118,2018
52,0,Altria Group Inc,"Richmond, VA",Martin Barrington,833300,0,175665,1505621,684816,0,MO,3199402,2018
65,0,Delta Air Lines Inc.,"Atlanta, GA",Edward Bastian,2277090,3795014,313559,0,891667,7705118,DAL,14982448,2018
78,0,Alcoa Corp.,"Pittsburgh, PA",Roy Harvey,947333,1562543,65455,512574,966667,9141997,AA,13196569,2018
91,552083,American Express Company,"New York, NY",Kenneth Chenault,6355000,0,4372290,432720,166667,12329901,AXP,24208661,2018

## ceo compensation

In [80]:
url = "https://finnhub.io/api/v1/stock/ceo-compensation?symbol={}&token={}".format(company, api_key) #url
req = requests.get(url)

In [81]:
salary = req.json()

In [82]:
ceo_pay = pd.DataFrame(salary.items(), columns =['Features', 'Value'])

In [83]:
ceo_pay

               Features              Value
0                 bonus                  0
1           companyName   Altria Group Inc
2              location       Richmond, VA
3                  name  Martin Barrington
4   nonEquityIncentives             833300
5          optionAwards                  0
6             otherComp             175665
7    pensionAndDeferred            1505621
8                salary             684816
9           stockAwards                  0
10               symbol                 MO
11                total            3199402
12                 year               2018

## board members / executive

In [84]:
url1 = "https://finnhub.io/api/v1/stock/executive?symbol={}&token={}".format(company, api_key) #url
req1 = requests.get(url1)

In [85]:
list = req1.json()

In [86]:
print(req1.json())

{'executive': [{'age': 55, 'name': 'Howard A. Willard', 'since': 2018, 'title': 'Chairman of the Board, Chief Executive Officer'}, {'age': 49, 'name': 'William F. Gifford', 'since': 2018, 'title': 'Vice Chairman, Chief Financial Officer.'}, {'age': 52, 'name': 'Charles N. Whitaker', 'since': 2018, 'title': 'Senior Vice President - Chief Human Resources Officer and Chief Compliance Officer'}, {'age': 59, 'name': 'Murray R. Garnick', 'since': 2017, 'title': 'Executive Vice President, General Counsel'}, {'age': 53, 'name': 'Salvatore Mancuso', 'since': 2018, 'title': 'Senior Vice President - Finance and Procurement'}, {'age': 53, 'name': 'W. Hildebrandt Surgner,', 'since': 2018, 'title': 'Vice President, Corporate Secretary and Associate General Counsel'}, {'age': 52, 'name': "Steven D'Ambrosia", 'since': 2019, 'title': 'Vice President, Controller'}, {'age': 49, 'name': 'Daniel J. Bryant', 'since': 2015, 'title': 'Vice President, Treasurer'}, {'age': 75, 'name': 'John T. Casteen, III', 'since': 2010, 'title': 'Independent Director'}, {'age': 71, 'name': 'Dinyar S. Devitre', 'since': 2008, 'title': 'Independent Director'}, {'age': 64, 'name': 'Thomas F. Farrell', 'since': 2008, 'title': 'Independent Director'}, {'age': 62, 'name': 'Debra J. Kelly-Ennis', 'since': 2013, 'title': 'Independent Director'}, {'age': 72, 'name': 'W. Leo Kiely', 'since': 2011, 'title': 'Independent Director'}, {'age': 62, 'name': 'Kathryn B. McQuade', 'since': 2012, 'title': 'Independent Director'}, {'age': 67, 'name': 'George Munoz', 'since': 2004, 'title': 'Independent Director'}, {'age': 55, 'name': 'Mark E. Newman', 'since': 2018, 'title': 'Independent Director'}, {'age': 72, 'name': 'Nabil Y. Sakkab', 'since': 2008, 'title': 'Independent Director'}, {'age': 58, 'name': 'Virginia E. Shanks', 'since': 2017, 'title': 'Independent Director'}], 'symbol': 'MO'}

In [67]:
df = pd.DataFrame(req1.json())

In [68]:
df2 = json_normalize(df['executive'])
df2

,age,name,since,title
0,64,Thierry de la Tour d'Artaise,2000,"Chairman of the Board, Chief Executive Officer..."
1,,Stanislas de Gramont,2018,"Chief Operating Officer, Member of the Executi..."
2,,Cyril Buxtorf,2015,"Executive Vice President - EMEA, Member of the..."
3,58,Philippe Crevoisier,2015,Executive Vice President - Products and Innova...
4,,Luc Gaudemard,2015,"Executive Vice President - Americas, Member of..."
5,,Vincent Leonard,2015,"Senior Executive Vice President - Finance, Mem..."
6,,Alain Leroy,2019,Executive Vice President Industrial Operations...
7,,Vincent Tai,2018,"Executive Vice President - Asia, Member of the..."
8,61,Harry Touret,2015,Senior Executive Vice President - Human Resour...
9,53,Delphine Bertrand,2017,Director
10,51,Damarys Braida,1998,"Director, Representative of VENELLE INVESTISSE..."
11,47,Sarah Chauleur,2013,"Director, Representative of FEDERACTIVE"
12,54,Hubert Fevre,2003,Director
13,47,Brigitte Forestier,2017,"Director, Representative of employee shareholders"
14,38,William Gairard,2015,Director
15,51,Laurent Henry,2017,"Director, Representative of employees"
16,48,Cedric Lescure,2010,Director
17,56,Jerome Lescure,2016,Director
18,46,Yseulys Costes,2013,Independent Director
19,53,Bertrand Finet,2017,"Independent Director, Representative of FFP In..."
20,72,Jean-Noel Labroue,2010,Independent Director
21,62,Catherine Pourre,2014,"Independent Director, Representative of FSP"

## analyst recommendation

In [70]:
url2 = "https://finnhub.io/api/v1/stock/recommendation?symbol={}&token={}".format(company, api_key) #url
req2 = requests.get(url2)

In [71]:
print(req2.json())

[{'buy': 4, 'hold': 4, 'period': '2020-02-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2020-01-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-12-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-11-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-10-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-09-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-08-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-07-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-06-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-05-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-04-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-03-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-02-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}, {'buy': 6, 'hold': 4, 'period': '2019-01-01', 'sell': 0, 'strongBuy': 2, 'strongSell': 1, 'symbol': 'SK.PA'}]

## price target

In [72]:
url3 = "https://finnhub.io/api/v1/stock/price-target?symbol={}&token={}".format(company, api_key) #url
req3 = requests.get(url3)

In [73]:
print(req3.json())

{'lastUpdated': '2020-03-28 00:00:00', 'symbol': 'SK.PA', 'targetHigh': 185, 'targetLow': 125, 'targetMean': 162.88, 'targetMedian': 164.5}

## Stock Upgrade / Downgrade

In [74]:
url4 = "https://finnhub.io/api/v1/stock/upgrade-downgrade?symbol={}&token={}".format(company, api_key) #url
req4 = requests.get(url4) 
status = pd.DataFrame(req4.json())

In [75]:
status

Empty DataFrame
Columns: []
Index: []

### Peers

In [76]:
url5 = "https://finnhub.io/api/v1/stock/peers?symbol={}&token={}".format(company, api_key) #url
req5 = requests.get(url5)

In [77]:
print(req5.json())

['SK.PA', 'ALMGI.PA', 'MLCOR.PA']

## Revenue Estimates

In [78]:
url6 = "https://finnhub.io/api/v1/stock/revenue-estimate?symbol={}&token={}".format(company, api_key) #url
req6 = requests.get(url6) 
rev = pd.DataFrame(req6.json())
rev1 = json_normalize(rev['data'])
rev1

   numberAnalysts      period  revenueAvg  revenueHigh  revenueLow
0               1  2018-03-31  1559000000   1559000000  1559000000
1               1  2017-12-31  2026000000   2007000000  2007000000
2               2  2006-12-31   996855420   1089610840   904100000

## Earnings Estimate

In [27]:
url7 = "https://finnhub.io/api/v1/stock/eps-estimate?symbol={}&token={}".format(company, api_key) #url
req7 = requests.get(url7) 
print(req7.json())

{'data': [{'epsAvg': 0.83819, 'epsHigh': 0.96, 'epsLow': 0.74, 'numberAnalysts': 18, 'period': '2020-12-31'}, {'epsAvg': 0.71232, 'epsHigh': 0.85, 'epsLow': 0.36, 'numberAnalysts': 28, 'period': '2020-09-30'}, {'epsAvg': 0.54689, 'epsHigh': 0.8340000000000001, 'epsLow': -0.35, 'numberAnalysts': 28, 'period': '2020-06-30'}, {'epsAvg': 0.43682, 'epsHigh': 0.675, 'epsLow': 0.13, 'numberAnalysts': 28, 'period': '2020-03-31'}, {'epsAvg': 0.75864, 'epsHigh': 0.81, 'epsLow': 0.73, 'numberAnalysts': 25, 'period': '2019-12-31'}, {'epsAvg': 0.69867, 'epsHigh': 0.72, 'epsLow': 0.69, 'numberAnalysts': 27, 'period': '2019-09-30'}, {'epsAvg': 0.72407, 'epsHigh': 0.75, 'epsLow': 0.7, 'numberAnalysts': 28, 'period': '2019-06-30'}, {'epsAvg': 0.56313, 'epsHigh': 0.58, 'epsLow': 0.54, 'numberAnalysts': 25, 'period': '2019-03-31'}, {'epsAvg': 0.6483899999999999, 'epsHigh': 0.68, 'epsLow': 0.6, 'numberAnalysts': 28, 'period': '2018-12-31'}, {'epsAvg': 0.59904, 'epsHigh': 0.63, 'epsLow': 0.57, 'numberAnalysts': 28, 'period': '2018-09-30'}, {'epsAvg': 0.60763, 'epsHigh': 0.68, 'epsLow': 0.58, 'numberAnalysts': 27, 'period': '2018-06-30'}, {'epsAvg': 0.53004, 'epsHigh': 0.56, 'epsLow': 0.51, 'numberAnalysts': 27, 'period': '2018-03-31'}, {'epsAvg': 0.57145, 'epsHigh': 0.61, 'epsLow': 0.55, 'numberAnalysts': 29, 'period': '2017-12-31'}, {'epsAvg': 0.54638, 'epsHigh': 0.57, 'epsLow': 0.5329999999999999, 'numberAnalysts': 29, 'period': '2017-09-30'}, {'epsAvg': 0.5511, 'epsHigh': 0.56, 'epsLow': 0.54, 'numberAnalysts': 29, 'period': '2017-06-30'}, {'epsAvg': 0.44861999999999996, 'epsHigh': 0.46, 'epsLow': 0.44, 'numberAnalysts': 29, 'period': '2017-03-31'}, {'epsAvg': 0.5199699999999999, 'epsHigh': 0.53, 'epsLow': 0.51, 'numberAnalysts': 29, 'period': '2016-12-31'}, {'epsAvg': 0.54818, 'epsHigh': 0.5539999999999999, 'epsLow': 0.54, 'numberAnalysts': 28, 'period': '2016-09-30'}, {'epsAvg': 0.48656000000000005, 'epsHigh': 0.5, 'epsLow': 0.478, 'numberAnalysts': 27, 'period': '2016-06-30'}, {'epsAvg': 0.38989, 'epsHigh': 0.4, 'epsLow': 0.37799999999999995, 'numberAnalysts': 26, 'period': '2016-03-31'}, {'epsAvg': 0.45008000000000004, 'epsHigh': 0.46, 'epsLow': 0.44, 'numberAnalysts': 24, 'period': '2015-12-31'}, {'epsAvg': 0.43392, 'epsHigh': 0.45, 'epsLow': 0.425, 'numberAnalysts': 25, 'period': '2015-09-30'}, {'epsAvg': 0.40836999999999996, 'epsHigh': 0.42, 'epsLow': 0.395, 'numberAnalysts': 27, 'period': '2015-06-30'}, {'epsAvg': 0.32633, 'epsHigh': 0.35, 'epsLow': 0.31, 'numberAnalysts': 26, 'period': '2015-03-31'}, {'epsAvg': 0.40146, 'epsHigh': 0.406, 'epsLow': 0.395, 'numberAnalysts': 25, 'period': '2014-12-31'}, {'epsAvg': 0.37125, 'epsHigh': 0.375, 'epsLow': 0.365, 'numberAnalysts': 24, 'period': '2014-09-30'}, {'epsAvg': 0.33138, 'epsHigh': 0.337, 'epsLow': 0.325, 'numberAnalysts': 28, 'period': '2014-06-30'}, {'epsAvg': 0.27837, 'epsHigh': 0.299, 'epsLow': 0.27, 'numberAnalysts': 27, 'period': '2014-03-31'}, {'epsAvg': 0.34535, 'epsHigh': 0.355, 'epsLow': 0.335, 'numberAnalysts': 30, 'period': '2013-12-31'}, {'epsAvg': 0.2989, 'epsHigh': 0.31, 'epsLow': 0.28, 'numberAnalysts': 28, 'period': '2013-09-30'}, {'epsAvg': 0.26574000000000003, 'epsHigh': 0.275, 'epsLow': 0.255, 'numberAnalysts': 29, 'period': '2013-06-30'}, {'epsAvg': 0.24111, 'epsHigh': 0.26, 'epsLow': 0.235, 'numberAnalysts': 31, 'period': '2013-03-31'}, {'epsAvg': 0.28623000000000004, 'epsHigh': 0.295, 'epsLow': 0.275, 'numberAnalysts': 29, 'period': '2012-12-31'}, {'epsAvg': 0.22375, 'epsHigh': 0.235, 'epsLow': 0.21, 'numberAnalysts': 28, 'period': '2012-09-30'}, {'epsAvg': 0.22625, 'epsHigh': 0.24, 'epsLow': 0.22, 'numberAnalysts': 28, 'period': '2012-06-30'}, {'epsAvg': 0.19572, 'epsHigh': 0.215, 'epsLow': 0.185, 'numberAnalysts': 28, 'period': '2012-03-31'}, {'epsAvg': 0.24334, 'epsHigh': 0.26, 'epsLow': 0.23, 'numberAnalysts': 27, 'period': '2011-12-31'}, {'epsAvg': 0.18212, 'epsHigh': 0.19, 'epsLow': 0.17, 'numberAnalysts': 26, 'period': '2011-09-30'}, {'epsAvg': 0.16913, 'epsHigh': 0.18, 'epsLow': 0.16, 'numberAnalysts': 24, 'period': '2011-06-30'}, {'epsAvg': 0.16848, 'epsHigh': 0.185, 'epsLow': 0.155, 'numberAnalysts': 23, 'period': '2011-03-31'}, {'epsAvg': 0.195, 'epsHigh': 0.205, 'epsLow': 0.185, 'numberAnalysts': 21, 'period': '2010-12-31'}, {'epsAvg': 0.15971, 'epsHigh': 0.165, 'epsLow': 0.15, 'numberAnalysts': 17, 'period': '2010-09-30'}, {'epsAvg': 0.14342, 'epsHigh': 0.16, 'epsLow': 0.12, 'numberAnalysts': 19, 'period': '2010-06-30'}, {'epsAvg': 0.12395, 'epsHigh': 0.135, 'epsLow': 0.11, 'numberAnalysts': 19, 'period': '2010-03-31'}, {'epsAvg': 0.13889, 'epsHigh': 0.15, 'epsLow': 0.115, 'numberAnalysts': 18, 'period': '2009-12-31'}, {'epsAvg': 0.10417, 'epsHigh': 0.11, 'epsLow': 0.095, 'numberAnalysts': 18, 'period': '2009-09-30'}, {'epsAvg': 0.09417, 'epsHigh': 0.105, 'epsLow': 0.08, 'numberAnalysts': 18, 'period': '2009-06-30'}, {'epsAvg': 0.07417, 'epsHigh': 0.09, 'epsLow': 0.06, 'numberAnalysts': 18, 'period': '2009-03-31'}, {'epsAvg': 0.08324, 'epsHigh': 0.095, 'epsLow': 0.06, 'numberAnalysts': 17, 'period': '2008-12-31'}, {'epsAvg': 0.06567, 'epsHigh': 0.085, 'epsLow': 0.05, 'numberAnalysts': 16, 'period': '2008-09-30'}, {'epsAvg': 0.09143, 'epsHigh': 0.1, 'epsLow': 0.075, 'numberAnalysts': 15, 'period': '2008-06-30'}, {'epsAvg': 0.075, 'epsHigh': 0.075, 'epsLow': 0.075, 'numberAnalysts': 15, 'period': '2008-03-31'}, {'epsAvg': 0.13677, 'epsHigh': 0.14, 'epsLow': 0.12, 'numberAnalysts': 17, 'period': '2007-12-31'}, {'epsAvg': 0.10421, 'epsHigh': 0.11, 'epsLow': 0.1, 'numberAnalysts': 19, 'period': '2007-09-30'}, {'epsAvg': 0.10584, 'epsHigh': 0.11, 'epsLow': 0.1, 'numberAnalysts': 18, 'period': '2007-06-30'}, {'epsAvg': 0.09611, 'epsHigh': 0.1, 'epsLow': 0.09, 'numberAnalysts': 18, 'period': '2007-03-31'}, {'epsAvg': 0.12895, 'epsHigh': 0.135, 'epsLow': 0.125, 'numberAnalysts': 19, 'period': '2006-12-31'}, {'epsAvg': 0.08471000000000001, 'epsHigh': 0.09, 'epsLow': 0.08, 'numberAnalysts': 17, 'period': '2006-09-30'}, {'epsAvg': 0.08594, 'epsHigh': 0.09, 'epsLow': 0.08, 'numberAnalysts': 16, 'period': '2006-06-30'}, {'epsAvg': 0.07091, 'epsHigh': 0.075, 'epsLow': 0.0695, 'numberAnalysts': 16, 'period': '2006-03-31'}, {'epsAvg': 0.09782, 'epsHigh': 0.105, 'epsLow': 0.09, 'numberAnalysts': 17, 'period': '2005-12-31'}, {'epsAvg': 0.07486, 'epsHigh': 0.075, 'epsLow': 0.0725, 'numberAnalysts': 18, 'period': '2005-09-30'}, {'epsAvg': 0.07453, 'epsHigh': 0.075, 'epsLow': 0.0725, 'numberAnalysts': 16, 'period': '2005-06-30'}, {'epsAvg': 0.06054, 'epsHigh': 0.0625, 'epsLow': 0.0575, 'numberAnalysts': 14, 'period': '2005-03-31'}, {'epsAvg': 0.08577, 'epsHigh': 0.09, 'epsLow': 0.08, 'numberAnalysts': 13, 'period': '2004-12-31'}, {'epsAvg': 0.06292, 'epsHigh': 0.065, 'epsLow': 0.06, 'numberAnalysts': 12, 'period': '2004-09-30'}, {'epsAvg': 0.054110000000000005, 'epsHigh': 0.0575, 'epsLow': 0.0525, 'numberAnalysts': 14, 'period': '2004-06-30'}, {'epsAvg': 0.04324, 'epsHigh': 0.045, 'epsLow': 0.04, 'numberAnalysts': 17, 'period': '2004-03-31'}, {'epsAvg': 0.06389, 'epsHigh': 0.065, 'epsLow': 0.06, 'numberAnalysts': 18, 'period': '2003-12-31'}, {'epsAvg': 0.04324, 'epsHigh': 0.045, 'epsLow': 0.0425, 'numberAnalysts': 17, 'period': '2003-09-30'}, {'epsAvg': 0.04118, 'epsHigh': 0.0425, 'epsLow': 0.04, 'numberAnalysts': 17, 'period': '2003-06-30'}, {'epsAvg': 0.03277, 'epsHigh': 0.035, 'epsLow': 0.0325, 'numberAnalysts': 19, 'period': '2003-03-31'}, {'epsAvg': 0.0454, 'epsHigh': 0.0475, 'epsLow': 0.045, 'numberAnalysts': 19, 'period': '2002-12-31'}, {'epsAvg': 0.03719, 'epsHigh': 0.0375, 'epsLow': 0.035, 'numberAnalysts': 16, 'period': '2002-09-30'}, {'epsAvg': 0.03316, 'epsHigh': 0.035, 'epsLow': 0.0325, 'numberAnalysts': 19, 'period': '2002-06-30'}, {'epsAvg': 0.024480000000000002, 'epsHigh': 0.025, 'epsLow': 0.0225, 'numberAnalysts': 19, 'period': '2002-03-31'}, {'epsAvg': 0.03684, 'epsHigh': 0.0375, 'epsLow': 0.035, 'numberAnalysts': 19, 'period': '2001-12-31'}, {'epsAvg': 0.033339999999999995, 'epsHigh': 0.035, 'epsLow': 0.0325, 'numberAnalysts': 18, 'period': '2001-09-30'}, {'epsAvg': 0.03035, 'epsHigh': 0.0575, 'epsLow': 0.0275, 'numberAnalysts': 18, 'period': '2001-06-30'}, {'epsAvg': 0.01986, 'epsHigh': 0.02125, 'epsLow': 0.01875, 'numberAnalysts': 17, 'period': '2001-03-31'}, {'epsAvg': 0.0289, 'epsHigh': 0.03, 'epsLow': 0.02875, 'numberAnalysts': 17, 'period': '2000-12-31'}], 'freq': 'quarterly', 'symbol': 'SBUX'}

In [30]:
eps = pd.DataFrame(req7.json())
eps1 = json_normalize(eps['data'])
eps1

     epsAvg  epsHigh   epsLow  numberAnalysts      period
0   0.83819  0.96000  0.74000              18  2020-12-31
1   0.71232  0.85000  0.36000              28  2020-09-30
2   0.54689  0.83400 -0.35000              28  2020-06-30
3   0.43682  0.67500  0.13000              28  2020-03-31
4   0.75864  0.81000  0.73000              25  2019-12-31
..      ...      ...      ...             ...         ...
76  0.03684  0.03750  0.03500              19  2001-12-31
77  0.03334  0.03500  0.03250              18  2001-09-30
78  0.03035  0.05750  0.02750              18  2001-06-30
79  0.01986  0.02125  0.01875              17  2001-03-31
80  0.02890  0.03000  0.02875              17  2000-12-31

[81 rows x 5 columns]

## Investor Ownership

In [191]:
url8 = "https://finnhub.io/api/v1/stock/investor-ownership?symbol={}&token={}".format(company, api_key) #url
req8 = requests.get(url8) 
# print(req8.json())
own = req8.json()

In [192]:
ownership = pd.DataFrame(own.items(), columns =['Features', 'Value'])
# print(req8.json())
owner = pd.DataFrame(req8.json())
owner1 = json_normalize(owner['ownership'])

In [193]:
owner1

,name,share,turnover,turnoverPercent,change,filingDate
0,"The Vanguard Group, Inc.",89255544,LOW,6.6903,-571290,2019-12-31
1,"BlackRock Institutional Trust Company, N.A.",56630824,LOW,12.1429,-1016587,2019-12-31
2,State Street Global Advisors (US),52101680,LOW,5.8047,-169439,2019-12-31
3,Magellan Asset Management Limited,32036678,LOW,36.0387,3553788,2019-12-31
4,"Geode Capital Management, L.L.C.",18603872,LOW,9.2443,161755,2019-12-31
...,...,...,...,...,...,...
995,Banque Cantonale Vaudoise,26946,HIGH,195.4212,26946,2019-12-31
996,"Wimmer Associates, LLC",26789,LOW,8.4039,-130,2019-12-31
997,"Merriman Wealth Management, LLC",26760,,0.0000,1083,2019-12-31
998,Fieldpoint Private Bank & Trust,26719,LOW,26.7934,11857,2019-12-31
999,Swisscanto Fondsleitung AG,26719,LOW,19.6619,166,2019-11-30

## Fund Ownership

In [194]:
url9 = "https://finnhub.io/api/v1/stock/fund-ownership?symbol={}&token={}".format(company, api_key) #url
req9 = requests.get(url9)
fdowner = pd.DataFrame(req9.json())
fdowner1 = json_normalize(owner['ownership'])
fdowner1

,name,share,turnover,turnoverPercent,change,filingDate
0,"The Vanguard Group, Inc.",89255544,LOW,6.6903,-571290,2019-12-31
1,"BlackRock Institutional Trust Company, N.A.",56630824,LOW,12.1429,-1016587,2019-12-31
2,State Street Global Advisors (US),52101680,LOW,5.8047,-169439,2019-12-31
3,Magellan Asset Management Limited,32036678,LOW,36.0387,3553788,2019-12-31
4,"Geode Capital Management, L.L.C.",18603872,LOW,9.2443,161755,2019-12-31
...,...,...,...,...,...,...
995,Banque Cantonale Vaudoise,26946,HIGH,195.4212,26946,2019-12-31
996,"Wimmer Associates, LLC",26789,LOW,8.4039,-130,2019-12-31
997,"Merriman Wealth Management, LLC",26760,,0.0000,1083,2019-12-31
998,Fieldpoint Private Bank & Trust,26719,LOW,26.7934,11857,2019-12-31
999,Swisscanto Fondsleitung AG,26719,LOW,19.6619,166,2019-11-30

## performance metrics

In [32]:
url9 = "https://finnhub.io/api/v1/stock/metric?symbol={}&metric=growth&token={}".format(company, api_key) #url
req9 = requests.get(url9) 
print(req9.json())

{'metric': {'bookValueShareGrowth5Y': '', 'capitalSpendingGrowth5Y': 9.24799, 'dividendGrowthRate5Y': 21.64402, 'ebitdaCagr5Y': 8.8923, 'ebitdaInterimCagr5Y': 8.43955, 'epsGrowth3Y': 15.47836, 'epsGrowth5Y': 16.58506, 'epsGrowthQuarterlyYoy': 22.54832, 'epsGrowthTTMYoy': 35.01014, 'focfCagr5Y': '', 'netMarginGrowth5Y': 1.52589, 'revenueGrowth3Y': 7.53777, 'revenueGrowth5Y': 10.01599, 'revenueGrowthQuarterlyYoy': 7.00167, 'revenueGrowthTTMYoy': 6.70375, 'revenueShareGrowth5Y': 14.8078, 'tbvCagr5Y': '', 'totalDebtCagr5Y': 40.38108}, 'metricType': 'growth', 'symbol': 'SBUX'}

In [33]:
perf = pd.DataFrame(req9.json())
perf

                            metric metricType symbol
bookValueShareGrowth5Y                 growth   SBUX
capitalSpendingGrowth5Y    9.24799     growth   SBUX
dividendGrowthRate5Y        21.644     growth   SBUX
ebitdaCagr5Y                8.8923     growth   SBUX
ebitdaInterimCagr5Y        8.43955     growth   SBUX
epsGrowth3Y                15.4784     growth   SBUX
epsGrowth5Y                16.5851     growth   SBUX
epsGrowthQuarterlyYoy      22.5483     growth   SBUX
epsGrowthTTMYoy            35.0101     growth   SBUX
focfCagr5Y                             growth   SBUX
netMarginGrowth5Y          1.52589     growth   SBUX
revenueGrowth3Y            7.53777     growth   SBUX
revenueGrowth5Y             10.016     growth   SBUX
revenueGrowthQuarterlyYoy  7.00167     growth   SBUX
revenueGrowthTTMYoy        6.70375     growth   SBUX
revenueShareGrowth5Y       14.8078     growth   SBUX
tbvCagr5Y                              growth   SBUX
totalDebtCagr5Y            40.3811     growth   SBUX

## stock quote

In [31]:
url10 = "https://finnhub.io/api/v1/quote?symbol={}&token={}".format(company, api_key) #url
req10 = requests.get(url10) 
print(req10.json())

{'c': 67.86, 'h': 68.2199, 'l': 64.58, 'o': 66.56, 'pc': 66.34, 't': 1585661025}

In [51]:
url10 = "https://finnhub.io/api/v1/quote?symbol=BINANCE:BTCEUR&token={}".format(api_key) #url
req10 = requests.get(url10) 
print(req10.json())

{'c': 5945.65, 'h': 6237, 'l': 5885.34, 'o': 5942.62, 'pc': 5906.69, 't': 1585612800}

## General News

In [206]:
url11 = "https://finnhub.io/api/v1/news?category=general&token={}".format(api_key) #url
req11 = requests.get(url11) 
news = pd.DataFrame(req11.json())
news

,category,datetime,headline,id,image,related,source,summary,url
0,top news,1585554441,"Lockdown could last up to 6 months, UK warns, ...",1039335,https://image.cnbcfm.com/api/v1/image/10646510...,,CNBC,Restrictive measures on every day life in the ...,https://www.cnbc.com/2020/03/30/coronavirus-uk...
1,business,1585554404,China's big banks flag asset pressure due to v...,1039332,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,China's largest state banks said the impact of...,https://www.reuters.com/article/us-china-banks...
2,business,1585554066,Ted Baker names finance chief Rachel Osborne a...,1039333,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Troubled fashion retailer Ted Baker on Monday...,https://www.reuters.com/article/us-ted-baker-c...
3,company news,1585553591,Gazprom workers leave hospital after negative ...,1039317,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Twenty Gazprom workers, who\nwere airlifted to...",https://www.reuters.com/article/us-health-coro...
4,business,1585553307,EasyJet grounds entire fleet as coronavirus pu...,1039334,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,British low cost airline easyJet said it had ...,https://www.reuters.com/article/us-health-coro...
5,company news,1585553232,Indonesia president plans stricter rules on mo...,1039318,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Indonesian President Joko\nWidodo said on Mond...,https://www.reuters.com/article/health-coronav...
6,company news,1585552869,UPDATE 1-Serbia to invest 5 bln euros to cope ...,1039319,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,* State to cover minimum wages to small and mi...,https://www.reuters.com/article/us-health-coro...
7,company news,1585552828,European shares dip as virus fears intensify,1039320,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,European shares fell for the second\nstraight ...,https://www.reuters.com/article/europe-stocks/...
8,company news,1585552383,Japanese shares drop on fears of coronavirus f...,1039312,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Japanese stocks retreated on\nMonday as the co...,https://www.reuters.com/article/japan-stocks-c...
9,company news,1585551600,RPT-GRAPHIC-Three months that shook global mar...,1039313,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,How much damage has the\ncoronavirus and the o...,https://www.reuters.com/article/global-markets...
10,company news,1585550960,Serbia to invest 5 bln euros to cope with coro...,1039295,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Serbia plans to offer about 5\nbillion euros (...,https://www.reuters.com/article/health-coronav...
11,company news,1585550234,UPDATE 2-ABB warns on profit after hit from co...,1039280,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,* Sale of Power Grids to Hitachi on track for ...,https://www.reuters.com/article/us-health-coro...
12,top news,1585550169,Jefferies CFO Dies From Coronavirus Complications,1039290,https://data.bloomberglp.com/company/sites/2/2...,,Bloomberg,,https://www.bloomberg.com/news/videos/2020-03-...
13,company news,1585549711,ASML cuts guidance for Q1 sales amid coronavirus,1039267,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,Dutch semiconductor\nequipment maker ASML said...,https://www.reuters.com/article/us-health-coro...
14,business,1585549591,"EasyJet grounds fleet, furloughs cabin crew fo...",1039294,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,British low cost airline easyJet said it had ...,https://www.reuters.com/article/us-health-coro...
15,top news,1585549530,"EasyJet Grounds Fleet, in Talks to Strengthen ...",1039291,https://data.bloomberglp.com/company/sites/2/2...,,Bloomberg,EasyJet Plc grounded its entire fleet after co...,https://www.bloomberg.com/news/articles/2020-0...
16,company news,1585549172,"UPDATE 1-Britain orders 10,000 ventilators fro...",1039268,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"Britain has ordered more than\n10,000 ventilat...",https://www.reuters.com/article/us-health-coro...
17,top news,1585548923,"UniCredit Suspends Dividend, Buyback as ECB Ta...",1039316,https://data.bloomberglp.com/company/sites/2/2...,,Bloomberg,,https://www.bloomberg.com/news/articles/2020-0...
18,company news,1585548583,"Britain orders 10,000 ventilators from F1, aer...",1039269,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"Britain has ordered more than\n10,000 ventilat...",https://www.reuters.com/article/health-coronav...

## company news

In [34]:
url12 = "https://finnhub.io/api/v1/news/{}?token={}".format(company,api_key) #url
req12 = requests.get(url12) 
compnews = pd.DataFrame(req12.json())
compnews

,category,datetime,headline,id,image,related,source,summary,url
0,company news,1584662400,Four more big names temporarily close in Chelt...,1029110,https://i2-prod.gloucestershirelive.co.uk/inco...,SBUX,Gloucestershire Live,"The Playfarm has also closed its doors, follow...",https://www.gloucestershirelive.co.uk/whats-on...
1,company news,1584642839,Starbucks CEO On Coffee Chain's Buyback Progra...,1029111,https://cdn2.benzinga.com/files/imagecache/og_...,SBUX,Benzinga Feeds,Coffee chain Starbucks Corporation (NASDAQ: SB...,https://www.benzinga.com/news/20/03/15609618/s...
2,company news,1584638943,Starbucks baristas push for stores to close,1029112,https://thenypost.files.wordpress.com/2020/03/...,SBUX,New York Post,"Coffee may feel essential, but in the face of ...",https://nypost.com/2020/03/19/starbucks-barist...
3,company news,1584631430,All the freebies NHS frontline workers can get...,1029113,https://i2-prod.mirror.co.uk/incoming/article2...,SBUX,Mirror Online,"Chains like Paul, McDonald's, Pret and Starbuc...",https://www.mirror.co.uk/money/shopping-deals/...
4,company news,1584628702,Starbucks e restaurantes Ginos encerram tempor...,1029114,https://cdn4.jornaldenegocios.pt/images/2018-0...,SBUX,Jornal de Negócios,"A Alsea informou hoje que, perante a declaraçã...",https://www.jornaldenegocios.pt/economia/coron...
5,company news,1584571381,Starbucks Seeks to Reassure Investors | Market...,1029115,https://www.marketscreener.com/images/twitter_...,SBUX,MarketScreener,By Heather Haddon Starbucks Corp. sought to re...,https://www.marketscreener.com/STARBUCKS-CORPO...
6,company news,1584551279,Starbucks or Luckin Coffee: Is LK Stock the Be...,1029116,https://investorplace.com/wp-content/uploads/2...,SBUX,InvestorPlace,"In February, Luckin Coffee came under attack f...",https://investorplace.com/2020/03/starbucks-or...
7,company news,1584546079,Starbucks Approves Buy-Back Plan of 40 Million...,1029117,https://www.nasdaq.com/sites/acquia.prod/files...,SBUX,Nasdaq,"Starbucks Corp. ( SBUX ), said its board of di...",https://www.nasdaq.com/articles/starbucks-appr...
8,company news,1584539700,Starbucks announces share buyback program for ...,1024750,https://s.wsj.net/public/resources/MWimages/MW...,SBUX,MarketWatch,Starbucks Corp. said Wednesday that it has aut...,https://www.marketwatch.com/story/starbucks-an...
9,company news,1584538862,STARBUCKS CORPORATION : Stock Market News and ...,1024751,https://www.marketscreener.com/images/twitter_...,SBUX,MarketScreener,"STARBUCKS CORPORATION : News, information and ...",https://www.marketscreener.com/STARBUCKS-CORPO...
10,company news,1584536400,Starbucks Hosts Virtual Annual Meeting of Shar...,1024752,https://mms.businesswire.com/media/20200318005...,SBUX,Business Wire,SEATTLE--(BUSINESS WIRE)--Starbucks hosts its ...,https://www.businesswire.com/news/home/2020031...
11,company news,1584535392,Dunkin' limiting coffee customers to carry-out...,1024753,https://static.foxnews.com/foxnews.com/content...,SBUX,Fox News,Dunkin’ is taking a cue from Starbucks and dit...,https://www.foxnews.com/food-drink/dunkin-limi...
12,company news,1584485680,Starbucks y otras marcas cierran atención en l...,1024754,https://www.eltiempo.com/files/image_450_300/u...,SBUX,El Tiempo,Marcas del grupo Alsea sólo mantendrán domicil...,https://www.eltiempo.com/economia/starbucks-y-...
13,company news,1584468230,Strong Support Is Brewing for Starbucks Stock,1024755,https://investorplace.com/wp-content/uploads/2...,SBUX,InvestorPlace,"While Wall Street runs around in panic, smart ...",https://investorplace.com/2020/03/strong-suppo...
14,company news,1584466478,Starbucks announces 'to go' only model at all ...,1024756,https://o.aolcdn.com/images/dims3/GLOB/legacy_...,SBUX,Aol.,"Filed under: Finance , Business , Companies In...",https://www.aol.com/article/finance/2020/03/17...
15,company news,1584464284,4 things companies should be doing right now f...,1024757,https://image.cnbcfm.com/api/v1/image/10643918...,SBUX,CNBC,Regina Phelps is the founder of Emergency Mana...,https://www.cnbc.com/2020/03/17/what-companies...
16,company news,1584460845,Starbucks Expects ‘Range of Cryptocurrencies’ ...,1024758,https://i1.wp.com/dailyhodl.com/wp-content/upl...,SBUX,The Daily Hodl,Starbucks is pilot testing a new feature that ...,https://dailyhodl.com/2020/03/17/starbucks-exp...
17,company news,1584459045,Bakkt Cash Integrating with Starbucks' Mobile App,1024759,https://static.cryptoglobe.com/filer_public_th...,SBUX,cryptoglobe.com,Intercontinental Exchange's trading platform h...,https://www.cryptoglobe.com/latest/2020/03/bak...
18,company news,1584439028,Bakkt Announces Integration with Starbucks to ...,1022717,https://www.coinspeaker.com/wp-content/uploads...,SBUX,Coinspeaker,Users of the Starbucks mobile app will soon ha...,https://www.coinspeaker.com/bakkt-starbucks-ca...
19,company news,1584421380,Bakkt Announces New Direct Payment Integration...,1022718,https://images.cointelegraph.com/images/740_aH...,SBUX,Cointelegraph,A new payment option for users of the Starbuck...,https://cointelegraph.com/news/bakkt-announces...

## Major Developments

In [125]:
url13 = "https://finnhub.io/api/v1/major-development?symbol={}&token={}'".format(company,api_key) #url
req13 = requests.get(url13) 
# print(req13.json())

## New Sentiment

In [20]:
url14 = "https://finnhub.io/api/v1/news-sentiment?symbol={}&token={}".format(company,api_key) #url
req14 = requests.get(url14) 

cpn = pd.DataFrame(req14.json())
print(req14.json())

{'buzz': {'articlesInLastWeek': 28, 'buzz': 0.4028, 'weeklyAverage': 69.5}, 'companyNewsScore': 0.5, 'sectorAverageBullishPercent': 0.5022, 'sectorAverageNewsScore': 0.4995, 'sentiment': {'bearishPercent': 0.5, 'bullishPercent': 0.5}, 'symbol': 'SBUX'}

## Economic Code & Data

In [55]:
url15 = "https://finnhub.io/api/v1/economic/code?token={}".format(api_key) #url
req15 = requests.get(url15) 
# print(req15.json())

In [58]:
code = pd.DataFrame(req15.json())
code.head(n=15)

,code,country,name,unit
0,MA-ABW-667984,Aruba,Balance Of Trade,AFI Million
1,MA-ABW-678073,Aruba,Consumer Price Index Cpi,points 2019=100
2,MA-ABW-67807367,Aruba,Inflation Rate,percent 2006=100
3,MA-ABW-678482,Aruba,Corporate Tax Rate,percent
4,MA-ABW-6988867976,Aruba,Exports,AFI Million
5,MA-ABW-71667184,Aruba,Government Budget,percent of GDP
6,MA-ABW-71797668,Aruba,Gold Reserves,Tonnes
7,MA-ABW-7377867976,Aruba,Imports,AFI Million
8,MA-ABW-80738482,Aruba,Personal Income Tax Rate,percent
9,MA-ABW-838482,Aruba,Sales Tax Rate,percent
10,MA-AFG-667984,Afghanistan,Balance of Trade,USD Million
11,MA-AFG-6765,Afghanistan,Current Account,USD Million
12,MA-AFG-6765716880,Afghanistan,Current Account to GDP,percent
13,MA-AFG-67697780,Afghanistan,Cement Production,Thousands of Tonnes
14,MA-AFG-67798273,Afghanistan,Corruption Index,Points

In [62]:
df = code.loc[code['country'] == 'United States']

In [69]:
code.code.value_counts().sum()

8245

In [217]:
url16 = "https://finnhub.io/api/v1/economic?code=A-FRA-6682&token={}".format(api_key) #url
req16 = requests.get(url16) 
eco = pd.DataFrame(req16.json(), columns =['Date', 'Monthly Bankruptices in France'])
eco

           Date  Monthly Bankruptices in France
0    2019-12-31                           268.0
1    2019-11-30                           284.0
2    2019-10-31                           259.0
3    2019-09-30                           281.0
4    2019-08-31                           329.0
..          ...                             ...
355  1990-05-31                           458.0
356  1990-04-30                           436.0
357  1990-03-31                           483.0
358  1990-02-28                           388.0
359  1990-01-31                           391.0

[360 rows x 2 columns]

In [30]:
url17 = "https://finnhub.io/api/v1/covid19/us?token={}".format(api_key) #url
req17 = requests.get(url17) 
# print(req17.json())

covid = pd.DataFrame(req17.json())
covid.head(n=20)

             state   case  death              updated
0         New York  67384   1342  2020-03-31 09:00:14
1       Washington   5192    219  2020-03-31 09:00:14
2       California   7429    149  2020-03-31 09:00:14
3       New Jersey  16636    198  2020-03-31 09:00:14
4         Illinois   5058     74  2020-03-31 09:00:14
5          Florida   5704     71  2020-03-31 09:00:14
6         Michigan   6498    185  2020-03-31 09:00:14
7        Louisiana   4025    185  2020-03-31 09:00:14
8          Georgia   3032    102  2020-03-31 09:00:14
9            Texas   3346     48  2020-03-31 09:00:14
10   Massachusetts   5752     56  2020-03-31 09:00:14
11       Colorado    2627     51  2020-03-31 09:00:14
12    Pennsylvania   4194     50  2020-03-31 09:00:14
13       Tennessee   1937     14  2020-03-31 09:00:14
14       Wisconsin   1285     24  2020-03-31 09:00:14
15     Connecticut   2571     36  2020-03-31 09:00:14
16  North Carolina   1379      8  2020-03-31 09:00:14
17            Ohio   1933     40  2020-03-31 09:00:14
18          Nevada   1044     18  2020-03-31 09:00:14
19        Maryland   1413     15  2020-03-31 09:00:14